.git
.vs
Debug
x64
Release/Helpers.obj
Release/vc142.pdb
Release/XvbaCom.dll.recipe
Release/XvbaCom.iobj
Release/XvbaCom.ipdb
Release/XvbaCom.log
Release/XvbaCom.obj
Release/XvbaInvoke.obj
Release/XvbaCom.tlog/CL.command.1.tlog
Release/XvbaCom.tlog/CL.read.1.tlog
Release/XvbaCom.tlog/CL.write.1.tlog
Release/XvbaCom.tlog/link.command.1.tlog
Release/XvbaCom.tlog/link.read.1.tlog
Release/XvbaCom.tlog/link.write.1.tlog
Release/XvbaCom.tlog/XvbaCom.lastbuildstate
Release/XvbaCom.tlog/XvbaCom.write.1u.tlog
